<div data-role="navbar">
    <ul>
        <li><a href="/" {% if page.url == "/" %}class="ui-btn-active ui-state-persist"{% endif %}>Wordygram</a></li>
<!--
        <li><a href="/wordygram.html" {% if page.url == "/wordygram.html" %}class="ui-btn-active ui-state-persist"{% endif %}>Wordygram</a></li>
        <li><a href="/consultancy.html" {% if page.url == "/consultancy.html" %}class="ui-btn-active ui-state-persist"{% endif %}>Consultancy</a></li>
        <li><a href="ios_development.html" {% if page.url == "/ios_development.html" %}class="ui-btn-active ui-state-persist"{% endif %}>iOS Development</a></li>
-->
        <li><a href="/contact.html" {% if page.url == "/contact.html" %}class="ui-btn-active ui-state-persist"{% endif %}>Contact</a></li>
    </ul>
</div>
